*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/release
library/libs
library/src
library/.gitignore
library/build.gradle
library/publish.gradle
library/proguard-rules.pro
/build
/captures
.externalNativeBuild
.cxx
